{% extends 'base.html' %}

{% block title %} Bienvenido a OnlyFlans{% endblock title %}
{% block content %}
<div class="container pb-4" style="background-color: white">
    <h1 class="text-center pt-4">Bienvenido a sus Flanes Privados</h1>
    <div class="row mt-4 mb-4 justify-content-center">
        {% for flan in private_flans %}
        <div class="card" style="width: 18rem; margin: 10px;">
            <img src="{{flan.image_url}}" class="card-img-top" alt="{{flan.name}}">
            <div class="card-body">
                <h5 class="card-title"> {{flan.name}} </h5>
                <p class="card-text">
                {{flan.description}}
                </p>
            </div>
        </div>      
        {% endfor %}  
    </div>     
</div> 
{% endblock content%}
